BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "RESET" SITE "G2" ;
LOCATE COMP "H_SYNC" SITE "B1" ;
LOCATE COMP "RED" SITE "C1" ;
LOCATE COMP "V_SYNC" SITE "L3" ;
LOCATE COMP "CLK_OUT" SITE "F2" ;
FREQUENCY NET "clk" 25.175000 MHz ;
