BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "RESET" SITE "G2" ;
LOCATE COMP "H_SYNC" SITE "E4" ;
LOCATE COMP "RED" SITE "E5" ;
LOCATE COMP "V_SYNC" SITE "H2" ;
FREQUENCY NET "osc_clk" 25.175000 MHz ;
